<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="false" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="true" />
  </settings>
  <providers uri="file://./Config/providers.config"/>
  <database>
    <provider name="sqlServer4.0" />
    <!--<dataSource name="HjdlDb" connectionString="Password=1qaz!QAZ;Persist Security Info=True;User ID=sa;Initial Catalog=ysh;Data Source=WANGN\CR"/>-->
    <dataSource name="HjdlDb" connectionString="Password=1234qwerxYz;Persist Security Info=True;User ID=sa;Initial Catalog=hjdl;Data Source=203.171.225.8"/>
  </database>

  <!--<statements>
    <select id="ExecSQLMap" remapResults="true" parameterClass="string">
      $SQL$
    </select>

    <insert id="InsertSQLMap" remapResults="true" parameterClass="string">
      $SQL$
    </insert>
  </statements>-->
  
  <sqlMaps>
    <sqlMap uri="file://./Config/UmpayEntity.xml" />
  </sqlMaps>
</sqlMapConfig>